{% extends "counter/base.html" %}
{% load humanize %}

{% block title %}Home{% endblock %}
{% block extrahead %}
<script type="text/javascript">
    function drawTriangle(elm, base, height, dir, color) {
        var canvas = elm;

        if (canvas.getContext) {
            var ctx = canvas.getContext("2d");
            ctx.fillStyle = color;
            ctx.shadowBlur = 10;
            ctx.shadowOffsetX = 2;
            ctx.shadowOffsetY = 2;
            ctx.shadowColor = "grey";

            switch (dir[0]) {
                case "u":
                    ctx.beginPath();
                    ctx.lineTo(base / 2, 0);
                    ctx.lineTo(base, height);
                    ctx.lineTo(0, height);
                    break;
                case "d":
                    ctx.beginPath();
                    ctx.lineTo(base, 0);
                    ctx.lineTo(base / 2, height);
                    ctx.lineTo(0, 0);
                    break;
                case "l":
                    break;
                case "r":
                    break;
            }
            ctx.fill();
            ctx.closePath();
        } else {
            alert("Your browser must support the Canvas element");
        }
    }

    jQuery.fn.center = function () {
        this.css("position","absolute");
        this.css("top", ( $(window).height() - this.height() ) / 2+$(window).scrollTop() + "px");
        this.css("left", ( $(window).width() - this.width() ) / 2+$(window).scrollLeft() + "px");
        return this;
    }

    $(document).ready(function() {
        $("#counter").center();

        var up = $("#up-arrow")[0];
        var down = $("#down-arrow")[0];

        drawTriangle(up, up.getAttribute("width"), up.getAttribute("height"), "up", "green");
        drawTriangle(down, down.getAttribute("width"), down.getAttribute("height"), "down", "red");

        $("#up-arrow").click(function() {
            alert("clicked up!");
        });

        $("#down-arrow").click(function() {
            alert("clicked down!");
        });

        $(window).bind("resize", function() {
            $("#counter").center();
        });
    });
</script>
{% endblock %}

{% block extranav %}
{% endblock %}

{% block content %}
<article id="counter">
    <canvas id="up-arrow" width="100" height="100" style="display: block"></canvas>
    <span style="display: block; width: 100px; font-size: 3em; text-align: center">{{ count }}</span>
    <canvas id="down-arrow" width="100" height="100" style="display: block"></canvas>
</article>
{% endblock %}
