{% extends "counter/base.html" %}

{% block title %}Home{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="/site_media/js/jquery.alerts-1.1/jquery.alerts.js"></script>
<link rel="stylesheet" href="/site_media/js/jquery.alerts-1.1/jquery.alerts.css" type="text/css" />
<script type="text/javascript" src="/site_media/js/utils.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var count = $("#count")[0];
        drawText(count, "{{ count }}", "black", "7em Arial", "top", "start");

        {% if user.is_authenticated %}
        var plus = $("#plus-symbol")[0];
        drawPlus(plus, plus.getAttribute("width"), "green");
        $('body').data('choice', "{{ common_choice }}");

        $("#plus-symbol").click(function() {
            jPrompt("Caffeine Type:", $('body').data('choice'), "Pick Your Caffeine Type", function(r) {
                if (r) {
                    updateCount($("#count"), r);
                } else {
                    jAlert("You have to enter something!", "Error!");
                }
            });
        });
        {% endif %}

        $("#counter").center();
        $(window).bind("resize", function() {
            $("#counter").center();
        });
    });
</script>
{% endblock %}

{% block content %}
<article id="intro">
    <p>
    {% if user.is_authenticated %}
        Last time you were here, you had
    {% else %}
        {{ theUser }} recently had
    {% endif%}
    {% if latest_addition %}
        {{ latest_addition.type.name }} (<time datetime="{{ latest_addition.added }}">{{ latest_addition.added|timesince }}</time> ago)
    {% else %}
        {% if user.is_authenticated %}
            ...wait, what?!<br />You haven't had any caffeine today! Get to work!
        {% else %}
            ...nothing! How strange.
        {% endif %}
    {% endif %}
    </p>
</article>
<article id="counter">
    <canvas id="count" width="70" height="101"></canvas>
    {% if user.is_authenticated %}
    <canvas id="plus-symbol" width="100" height="100"></canvas>
    {% endif %}
</article>
{% endblock %}
